<br><br><input name="ref" id="ref" placeholder="Reference" oninput="this.value=this.value.toUpperCase();">
	<input name="ref1" id="ref1" placeholder="Name" oninput="this.value=this.value.toUpperCase();">
	<input name="ref2" id="ref2" placeholder="Ext" oninput="this.value=this.value.toUpperCase();">
	<input name="ref5" id="ref5" placeholder="Mobile" oninput="this.value=this.value.toUpperCase();">
	<input name="ref3" id="ref3" placeholder="Dep" oninput="this.value=this.value.toUpperCase();">
	<input name="ref4" id="ref4" placeholder="Location" oninput="this.value=this.value.toUpperCase();">
	<button  onclick="updatet()" value="Update" style="border-radius:5px;color:white;font-size:15px;background-color:#0099ff;border-color:white;">Update</button>